<section class="form-container">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input 
                type="email" 
                name="email" 
                id="email" 
                placeholder="Email Address" 
                matInput 
                ngModel 
                email 
                required 
                #emailId="ngModel"
            >
            <mat-error *ngIf="emailId.hasError('required')">Email cannot be empty</mat-error>
            <mat-error *ngIf="!emailId.hasError('required')">Valid email address is required</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Password must be at least 6 characters">
            <input 
                type="password" 
                name="password" 
                id="password" 
                placeholder="Enter Password" 
                matInput 
                ngModel 
                required
                minlength="6" 
                #passwd="ngModel"
            >
            <mat-hint align="end">{{ passwd.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="passwd.hasError('required')">Password cannot be empty</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                name="birthDate" 
                id="birthDate" 
                placeholder="Birth Date" 
                matInput 
                [matDatepicker]="datePicker" 
                [max]="maxDate"
                ngModel
                required
            >
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-checkbox ngModel name="agree" required>I Agree to Terms &amp; Conditions</mat-checkbox>
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>
    </form>
</section>